server-port=25565
enable-rcon=true
rcon.port=25575
rcon.password={{ rcon_password }}
motd=Acme Corp Automated Minecraft Server
difficulty=easy
gamemode=survival
online-mode=true
enable-command-block=false
spawn-protection=16
view-distance=10
simulation-distance=10
